body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow: scroll;
}

.header {
  border: 2px solid black;
  background-color: rgb(254, 212, 219);
  padding: 8px 18px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.scrollHeader {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(254, 212, 219);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  padding: 10px 20px;
}

.scrollHeader.hidden {
  transform: translateY(-100%);
}

.logo {
  border: 2px solid black;
}

.bio{
  border: 2px solid black;
}

#myName {
  border: 2px solid black;
  max-width:600px;
  margin-top: 2px;
  font-size:100px;
  font-family: 'Londrina Outline', cursive;
  color: rgb(2, 2, 2);
  text-decoration: none;
}

.navLinks {
  border: 2px solid black;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

.navLink {
  border: 2px solid black;
  margin: 5px;
  text-decoration: none;
}

.mainBody {
  position: fixed;
  top: 400px;
}