body{margin:0;
font-family: 'Bitter', serif;
background-color: white;}
#wrapper{max-width:1200px;
margin:0 auto;
margin-top:185px;
height:1100px;}
header{width:100%;
height:185px;
background-color:rgb(254, 212, 219);
position:fixed;  
top:0;}
.logo{margin-top:45px;
margin-left:20px;
float:left;}
.bio{text-align:justify; 
width:850px;
margin-left:100px; 
font-size:20px; 
padding:5px;}
ul{list-style:none;}
li{display:inline;
font-size:30px;}
.me{margin-left: 300px;
margin-top:70px;
border-radius: 50%;}
footer{width:100%;
height:50px;
background-color:rgb(254,212,219); 
clear:both;
display:inline-block;
bottom:0; 
position:fixed;
left:0;}
#first{width:40%;
height:250px;
background-color:rgb(246, 164, 191);
background-image:url(images/flowers.jpeg);
filter: blur(1px);
-webkit-filter: blur(1px);
float: left;
margin-left: 5%;}
#second{width:40%;
height:250px;
background-color:lightpink;
background-image:url(images/flower.jpeg);
filter: blur(1px);
-webkit-filter: blur(1px);
float:right;
margin-right: 5%;}
#third{width:40%;
height:250px;
background-color:plum;
filter: blur(1px);
-webkit-filter: blur(1px);
float:left;
background-image: url(images/tulip.jpeg);
margin-left:5%;
margin-top:5%}
#fourth{width:40%;
height:250px;
background-color:palevioletred;
float:right;
filter: blur(1px);
-webkit-filter: blur(1px);
background-image: url(images/rose.jpeg);
margin-right: 5%;
margin-top:5%;}
.ptitle{
background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;}
.video{margin:0 auto;
display:block;}
.mytitle{text-align:center;}
.ptitle2{background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;}
.ptitle3{background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;}
.ptitle4{background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;}
a{text-decoration:none;
color:black;}
input[type=text],select,textarea{
width:100%;
padding:10px;
border:2px solid rgb(255, 203, 217);
border-radius:4px;
box-sizing:border-box;
margin-top:15px;
margin-bottom:16px;
resize:vertical;}
input[type=submit]{
background-color:rgb(255, 203, 217);
color:whitesmoke;
padding:12px 20px;
border:none;
border-radius:4px;
cursor:pointer;}
#name{font-size:10px;}
nav{text-align:center;
    width:100%;
    height:45px;
    margin-top:5px;
font-family: 'Londrina Outline', cursive;
color:white;}
#myname{max-width:600px;
margin-top: 2px;
font-size:100px;
font-family: 'Londrina Outline', cursive;
color: rgb(2, 2, 2);}
#header_descriptor{font-family: 'Londrina Outline', cursive;
color: rgb(9, 8, 8);
font-size: 18px;
font-style: italic;}
.resume{margin-left: 5%;}
.b{margin-left: 5%;
font-family: 'Bitter', serif;}
.work{font-family: 'Bitter',serif;
margin-top:20px;
color:gray;}
.w3{margin-top: 50px;}
#bio{width:1100px;}
.mywork{ 
    width:850px;
    text-align: center; 
    font-size:30px; 
    padding:5px;
margin-top: 20px;}
.pbio{text-align: center;}
