body {
    display: flex;
}

.logo {
    height: 20em;
    width: 20em;
}

header {
    display: "flex";
    flex-direction: column;
    width: 20em;
    height: 100%;
    align-items: center;
    text-align: center;
}

header h4 {
    margin-top: 3em;
}

.divider {
    height: 1.5em;
}

.side-menu p a {
    text-decoration: none;
    color: gray;
}

.side-menu .active a {
    color: black;
    font-weight: 500;
}

.main {
    display: "flex";
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main img {
    display: block;
    height: max-content;
    width: max-content;
}